<% name ||= "Crear variable" %>
<h1><%= name %> artículo</h1>
<%= form_for(@article) do |f|%>
		<% @article.errors.full_messages.each do |message| %>
			<div class="alert alert-danger">
				*<%= message %>
			</div>
		<%end%>

		<div class="form-group">
			<%= f.text_field :title, placeholder:"Tútilo", class:"form-control" %>
		</div>
		<div class="form-group">
			<%= f.text_area :body, placeholder: "Escribe aquí un artítulo", style:"height:250px;", class:"form-control" %>
		</div>
		<div class="form-group">
			<%= f.submit "Guardar", class:"btn btn-primary" %>
		</div>
	<%end%>